<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name=" viewport", content="width = device-width, initial-scale=1.0">
        <title>{% if task %}Update Task {% else %} Create New Task{% endif %}</title>
    </head>
    <body>
        <h1>{% if task %}Update Task {% else %} Create New Task{% endif %}</h1>

        <form method = "POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% if task%}Update{% else %} Create {% endif %} Task</button>
        </form>

        <a href="{% url 'task-list' %}">Back to Task List</a>
    </body>

</html>